.main {
    display: flex;
    width: 100vw;
    height: 100vh;
    padding-top: 10px;
}
.left_main {    
    margin-top: 55px;
    display: flex;
    flex-flow: column;
    flex: 1;
    height: 100vh;
    justify-content: space-between;    
}
.right_main {
    margin-top: 50px;
    display: flex;
    flex-flow: row wrap;
    height: 100vh;
    flex: 1;    
    justify-content: space-between;
    align-items: flex-start;
}
.my_friends {
    height: 263px;
    width: 310px;
    background-color: white;
}
.my_page{
    margin-top: 30px;
    height: 417px;
    width: 310px;
    background-color: white;
}
