.header{
    position: fixed;
    border: 1px solid black;
    background-color: #3b5998;    
    height: 45px;
    width: 100%; 
    margin-top: 0%;
}
.search{
    display: inline;
    margin-left: 210px;
    margin-top: 7px;
    width: 393px;
    height: 23px;
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}