._2md {
    background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/y8/r/iqcMfG6imHV.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 0 -54px;
    display: block;
    height: 24px;
    outline: none;
    overflow: hidden;
    text-indent: -999px;
    white-space: nowrap;
    width: 24px;
    margin-top: -27px;
    margin-left: 170px;
}