._2md {
    background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/y8/r/iqcMfG6imHV.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 0 -54px;
    display: block;
    height: 24px;
    outline: none;
    overflow: hidden;
    text-indent: -999px;
    white-space: nowrap;
    width: 24px;
    margin-top: -27px;
    margin-left: 170px;
}
.icons {
    margin: inherit;
    width: inherit;
    height: inherit;
    display: flex;
}
.left_icons {
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    margin-left: 70px;
    display: flex;
    height: inherit;
    width: 600px;
}
.right_icons {    
    flex-direction: row;
    align-items: center;
    margin-left: 300px;
    justify-content: space-around;
    display: flex;
    height: inherit;
    width: 200px;
}
.fab, .fas {
    margin-top: 6px;    
    font-size: 22px;
    color: black;
}
#face {    
    font-size: 28px;
    color:white;
    margin-bottom: 7px;
}
.fa-search {
    display: inline-block;    
    background-color: white;
    margin-top: -0.1px;    
    font-size: 27px;
    border: hidden;
    border-color: white;    
    color: black;    
    }
    .fa-plus1, .fa-plus2, .fa-plus3 {
        color:blue;
        font-size:40px;
        position: relative;
    }
    ._2ms2 {
        color: #616770;
        font-size: 20px;
        margin-left: 5px;
        margin-top:5px;
        font-weight: 600;
        line-height: 13px;
    }