main {
  display: flex;
  flex-direction: column;
  margin: 47px 12px;  
  flex: 2;
    
  
  header {
    background: #badfad;
    padding: 10px;
    height: 160px;
    
    
    textarea {
      display: block;
      margin-top: 10px;
      width: 477px;
      padding: 5px;
      height: 80px;
      font-size: 14px;
    }
    
    button {
      border: 0;
      padding: 5px 10px;
      font-size: 14px;
      margin-top: 5px;
    }
  }
  
  article {
    background: #dabfab;
    padding: 10px;
    margin-top: 5px;
    position: relative;
    
    
    author {
      font-size: 13px;
    }
    
    p {
      font-size: 17px;
      white-space: pre;
    }
    
    button {
      border: 0;
      position: absolute;
      top: 5px;
      right: 5px;
    }
  }
}